* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(207, 197, 197);
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar {
    height: 150px;
    background-color: rgb(134, 221, 185);
}

.navbar a {
    font-size: 1.5rem;
    text-decoration: none;
}

.navbar>.container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.navbar-right {
    width: 300px;
    display: flex;
    justify-content: space-between;
}

#navbarCollapse {
    width: 400px;
    display: flex;
    justify-content: space-around;
}

#navbarCollapse>ul>li {
    list-style: none;
    float: right;
}